
.product-list{
/* background-color: black; */
}

.product-image{
    height: 300px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
  }
.product-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));    
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}
.product-item{
  background-color: rgb(255, 255, 255);
}
.list-prod-name, .list-prod-price{
  text-align: center;
}
.list-prod-price{
  padding-bottom: 15px
}
.ulList{
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
}
ul {
  display: flex;
  list-style-type: none;
  margin-top: 30px;
  font-size: 18px;
}
li{
  padding: 20px;  
}
.view-by:hover{
  text-decoration: underline;
}
.wish-button{
  border: none;
  background-color: transparent;
}
.wishlist{
  width: 300px;
  border: solid black 2px;
  padding: 20px;
  margin-bottom: 100px;
}
.remove-wish{
  width: 10px;
}