
.product-list{
/* background-color: black; */
}

.product-image{
    height: 300px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
  }
.product-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));    
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}
.product-item{
  background-color: rgb(255, 255, 255);
}
.list-prod-name, .list-prod-price{
  text-align: center;
}
.list-prod-price{
  padding-bottom: 15px
}