.home {
  background-image: url("https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjg4Mi1rdWwtMzJfMS5qcGc.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.home-container{
    display: flex;
    justify-content: center;
}
.shop-now{
    align-items: center;
    margin-top: 10%;
    border: 2px solid black;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px 5px rgba(255, 255, 255, 0.573)
}
