.home {
  background-image: url("https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2369&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.home-container{
    display: flex;
    justify-content: center;
}
.shop-now{
    align-items: center;
    margin-top: 10%;
    border: 2px solid black;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.508);
}
