.home {
  background-image: url("https://img.freepik.com/free-vector/pastel-color-background-with-gold-foil-texture_1017-30093.jpg?w=2000&t=st=1675535144~exp=1675535744~hmac=824d8612cf518dee1dae7283dda64c4c5243fe41eb6b95cc17aa3044b0565d74");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.home-container{
    display: flex;
    justify-content: center;
}
.shop-now{
    align-items: center;
    margin-top: 10%;
    border: 2px solid black;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.508);
}
