.return-to-product-page {
  margin-left: 100px;
}
.shop-product {
  align-items: center;
  margin-top: 10%;
  border-left: 2px solid black;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.508);
}
.detail-card {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}
.detail-description-card {
  width: 400px;
  margin-left: 3%;
  position: relative;
}
.detail-image {
  width: 400px;
}
.detail-name {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.detail-price {
  margin-top: -15px;
}

.purchase-redirect {
  align-items: center;
  margin-top: 10%;
  color: white;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
}
/* .extra-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* ------------------------------------- REVIEWS ------------------------------------- */
.newReview {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.review-container,
.newReview-w-btn {
  position: relative;
  max-width: 1200px;
  width: 435px;
  border: 3px solid black;
  border-top: none;
  display: flex;
  align-self: center;
}
.review-section {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
.reviews-body {
  margin: -10px 0 35px 0;
}
.delete-div {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
}
.delete-icon {
  width: 20px;
}
.newReview-w-btn {
  width: 435px;
  border: 3px solid black;

  position: relative;
  height: 115px;
}
.newReview-wo-btn {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.review-add-area {
  width: 390px;
  border: none;
  background-color: transparent;
}
.review-add-area::placeholder {
  color: black;
}
.review-txt-ar {
  resize: none;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  background-color: transparent;
}
.review-txt-ar::placeholder {
  color: black;
}
.CommentButton {
  border: none;
  color: white;
  background-color: black;
  padding: 8px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.ReviewArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review-list {
  display: flex;
  flex-direction: column;
}

/* ------------------------------------- UPDATE ------------------------------------- */
.edit-title{
    text-align: center;
    margin: 100px 0 0 0;
}
.update-container {
  display: flex;
  justify-content: center;
}
.update-form {
  display: flex;
  flex-direction: column;
  width: 700px;
}
.edit-box {
  border: none;
  width: 400px;
  padding: 5px;
  background-color: transparent;
}
.edit-box::placeholder {
    color: black;
}
.update-property {
    margin-top: 10px;
}
.update-div{
    display: flex;
    justify-content: flex-end;
}
.update-btn {
  background-color: transparent;
  border: none;
  color: white;
  background-color: black;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
}
