.add-product {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 50px;

}
.CreateProuct {
  display: flex;
  justify-content: center;
  max-width: 1200px;

}
.create-body{
    background-image: url("https://images.pexels.com/photos/842963/pexels-photo-842963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.create-product-container {
  display: flex;
  justify-content: center;  
}
.create-form {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.create-input {
  border: none;
  border-left: 1px solid black;
  margin-left: 15px;
  background-color: transparent;
  width: 400px;
}
.create-input::placeholder {
  padding-left: 10px;
  color: black;
}
.input-div {
  /* display: flex;
  justify-content: center; */
  font-size: 20px;
  height: 20px
}
input {
  outline: none;
}
input:focus {
  border-bottom: 1px solid black;
}

.create-submit {
  color: white;
  background-color: black;
  border: none;
  border-radius: 0 0px 30px 30px;
  height: 35px;
  width: 300px;
  align-self: center;
  border-bottom: 1px solid white;
}
.create-submit:hover{
  cursor:pointer;
color: black;
background-color: white;
border-top: 1px solid black;

}
.add-titles {
display: flex;
justify-content: flex-end;
flex-direction: column;
text-align: right;
}
.add-btn{
    display: flex;
    justify-content: center;
}
.img-input{
  
}
.desc-textarea{
  resize: none;
  height: 80px;
  width: 400px;
  border: none;
  /* overflow: auto; */
  outline: none;
}
.price-input{
  margin-top: 20px;;
}
.prrty-desc{
  margin-bottom: 50px;
  margin-top: 50px;
}
.input-divs-cont{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.desc-box{
  border-left: 1px solid black;
}
.please-sign{
  color: white;
  font-size: 24px;
}