@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.ship-font{
    font-family: 'Montserrat', sans-serif;
}
.button-class{
    background-color: rgba(74, 0, 61, 1);
    color: rgba(240, 235, 228, 1)
}

.purple-link-color{
    color: rgba(74, 0, 61, 0.35)
}

.border-purple{
    padding: 10px 4px;
    border: 2px solid rgba(74, 0, 61, 1);
border-radius: 10px;

}

/* p-4 border-4 border-indigo-500 */