.top-header {
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: space-around;
}

.AVIATO {
  text-align: center;
  font-size: 40px;
  position: relative;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.text-right {
  text-align: right;
  font-size: 15px;
}
.right-icon-words {
  font-size: 15px;
  justify-content: flex-end;
}
.link {
  text-decoration: none;
  color: black;
}
.search-inner {
  border: transparent;
  border-left: black 1px solid;
  background-color: transparent;
  outline: none;
  padding: 10px 15px;
}
.add-a-product {
  font-size: 15px;
}
.search-inner::placeholder {
  font-size: 15px;
  color: black;
}
.create-product-link,
.product-list-link {
  display: flex;
  align-items: center;
}
.reg-log {
  display: flex;
  align-items: center;
}
.name-place{
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  .AVIATO{
    margin: 0;
    
  }
  .top-header {
    border-bottom: 1px solid #dedede;
    display: flex;
    flex-wrap: wrap;
  }
  .view-all {
    font-size: 14px;
  }
  .search-inner {
    padding: 2px;
    margin-bottom: 10px;
  }
  .reg-log {
    font-size: 14px;
  }
  .header-link {
    margin: 0 20px;
    height: 60px;
  }
}
