
.top-header {

  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: space-around;
}

.AVIATO {
  text-align: center;
  font-size: 40px;
  position:relative;

}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.text-right {
    text-align: right;    
    font-size: 15px;
}
.right-icon-words{
    font-size: 15px;
    justify-content: flex-end;
}
.link{
    text-decoration: none;
    color: black;
}
.search-inner{
  border: transparent;  
  border-left: black 1px solid;
  background-color: transparent;
  outline: none;
  width: 100px;
  padding: 10px 15px;
}
.add-a-product{
  font-size: 15px
}
.search-inner::placeholder{
  font-size: 15px;
  color: black
}
.create-product-link, .product-list-link {
  display: flex;
  align-items: center
}
.reg-log{
  display: flex;
  align-items: center;
}